In [4]:
pip install pandas

Collecting pandas
  Downloading pandas-2.2.3-cp39-cp39-win_amd64.whl (11.6 MB)
Collecting tzdata>=2022.7
  Downloading tzdata-2024.2-py2.py3-none-any.whl (346 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\scryo\appdata\roaming\python\python39\site-packages (from pandas) (2.9.0.post0)
Collecting numpy>=1.22.4
  Downloading numpy-2.0.2-cp39-cp39-win_amd64.whl (15.9 MB)
Collecting pytz>=2020.1
  Downloading pytz-2024.2-py2.py3-none-any.whl (508 kB)
Requirement already satisfied: six>=1.5 in c:\users\scryo\appdata\roaming\python\python39\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Installing collected packages: tzdata, pytz, numpy, pandas
Successfully installed numpy-2.0.2 pandas-2.2.3 pytz-2024.2 tzdata-2024.2
Note: you may need to restart the kernel to use updated packages.

  WARNING: The scripts f2py.exe and numpy-config.exe are installed in 'c:\Users\scryo\AppData\Local\Programs\Python\Python39\Scripts' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-script-location.
WARNING: You are using pip version 21.2.4; however, version 24.3.1 is available.
You should consider upgrading via the 'c:\Users\scryo\AppData\Local\Programs\Python\Python39\python.exe -m pip install --upgrade pip' command.

In [5]:
import pandas as pd

In [7]:
# Replace the path with the actual location in your Drive
file_path = r'C:\Users\scryo\EGT309\Data_Cleaning_Files\ResaleflatpricesbasedonregistrationdatefromJan2017onwards.csv'
data = pd.read_csv(file_path)

print(data.head(10))

     month        town flat_type block        street_name storey_range  \
0  2017-01  ANG MO KIO    2 ROOM   406  ANG MO KIO AVE 10     10 TO 12
1  2017-01  ANG MO KIO    3 ROOM   108   ANG MO KIO AVE 4     01 TO 03
2  2017-01  ANG MO KIO    3 ROOM   602   ANG MO KIO AVE 5     01 TO 03
3  2017-01  ANG MO KIO    3 ROOM   465  ANG MO KIO AVE 10     04 TO 06
4  2017-01  ANG MO KIO    3 ROOM   601   ANG MO KIO AVE 5     01 TO 03
5  2017-01  ANG MO KIO    3 ROOM   150   ANG MO KIO AVE 5     01 TO 03
6  2017-01  ANG MO KIO    3 ROOM   447  ANG MO KIO AVE 10     04 TO 06
7  2017-01  ANG MO KIO    3 ROOM   218   ANG MO KIO AVE 1     04 TO 06
8  2017-01  ANG MO KIO    3 ROOM   447  ANG MO KIO AVE 10     04 TO 06
9  2017-01  ANG MO KIO    3 ROOM   571   ANG MO KIO AVE 3     01 TO 03

   floor_area_sqm      flat_model  lease_commence_date     remaining_lease  \
0            44.0        Improved                 1979  61 years 04 months
1            67.0  New Generation                 1978  60 years 07 months
2            67.0  New Generation                 1980  62 years 05 months
3            68.0  New Generation                 1980   62 years 01 month
4            67.0  New Generation                 1980  62 years 05 months
5            68.0  New Generation                 1981            63 years
6            68.0  New Generation                 1979  61 years 06 months
7            67.0  New Generation                 1976  58 years 04 months
8            68.0  New Generation                 1979  61 years 06 months
9            67.0  New Generation                 1979  61 years 04 months

   resale_price
0      232000.0
1      250000.0
2      262000.0
3      265000.0
4      265000.0
5      275000.0
6      280000.0
7      285000.0
8      285000.0
9      285000.0

In [8]:
data.head()

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,remaining_lease,resale_price
0,2017-01,ANG MO KIO,2 ROOM,406,ANG MO KIO AVE 10,10 TO 12,44.0,Improved,1979,61 years 04 months,232000.0
1,2017-01,ANG MO KIO,3 ROOM,108,ANG MO KIO AVE 4,01 TO 03,67.0,New Generation,1978,60 years 07 months,250000.0
2,2017-01,ANG MO KIO,3 ROOM,602,ANG MO KIO AVE 5,01 TO 03,67.0,New Generation,1980,62 years 05 months,262000.0
3,2017-01,ANG MO KIO,3 ROOM,465,ANG MO KIO AVE 10,04 TO 06,68.0,New Generation,1980,62 years 01 month,265000.0
4,2017-01,ANG MO KIO,3 ROOM,601,ANG MO KIO AVE 5,01 TO 03,67.0,New Generation,1980,62 years 05 months,265000.0

In [9]:
print(data.info())  # Summary of the DataFrame, including non-null counts
print(data.isnull().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 171393 entries, 0 to 171392
Data columns (total 11 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   month                171393 non-null  object
 1   town                 171393 non-null  object
 2   flat_type            171393 non-null  object
 3   block                171393 non-null  object
 4   street_name          171393 non-null  object
 5   storey_range         171393 non-null  object
 6   floor_area_sqm       171393 non-null  float64
 7   flat_model           171393 non-null  object
 8   lease_commence_date  171393 non-null  int64
 9   remaining_lease      171393 non-null  object
 10  resale_price         171393 non-null  float64
dtypes: float64(2), int64(1), object(8)
memory usage: 14.4+ MB
None
month                  0
town                   0
flat_type              0
block                  0
street_name            0
storey_range           0
floor_area_sqm         0
flat_model             0
lease_commence_date    0
remaining_lease        0
resale_price           0
dtype: int64

Seems like there is no missing values

In [10]:
# Find duplicate rows
duplicates = data[data.duplicated(keep=False)]  # keep=False includes all occurrences of duplicates

# Show the count of duplicate rows
print("Number of Duplicate Rows:", duplicates.shape[0])

Number of Duplicate Rows: 564

In [11]:
# Display the duplicate rows
print("Total Duplicate Rows:")
print(duplicates)

Total Duplicate Rows:
          month           town  flat_type block        street_name  \
224     2017-01    BUKIT MERAH     4 ROOM   106     HENDERSON CRES
243     2017-01    BUKIT MERAH     4 ROOM   106     HENDERSON CRES
304     2017-01   CENTRAL AREA     3 ROOM   271           QUEEN ST
305     2017-01   CENTRAL AREA     3 ROOM   271           QUEEN ST
505     2017-01    JURONG EAST     4 ROOM   265        TOH GUAN RD
...         ...            ...        ...   ...                ...
167582  2024-11  BUKIT PANJANG     5 ROOM   210           PETIR RD
169624  2024-12  BUKIT PANJANG  EXECUTIVE   650         SENJA LINK
169625  2024-12  BUKIT PANJANG  EXECUTIVE   650         SENJA LINK
170778  2024-12       TAMPINES     4 ROOM  612A  TAMPINES NTH DR 1
170785  2024-12       TAMPINES     4 ROOM  612A  TAMPINES NTH DR 1

       storey_range  floor_area_sqm         flat_model  lease_commence_date  \
224        07 TO 09            81.0           Improved                 1975
243        07 TO 09            81.0           Improved                 1975
304        16 TO 18            68.0           Improved                 1979
305        16 TO 18            68.0           Improved                 1979
505        04 TO 06           101.0            Model A                 1998
...             ...             ...                ...                  ...
167582     07 TO 09           122.0           Improved                 1988
169624     07 TO 09           130.0  Premium Apartment                 2001
169625     07 TO 09           130.0  Premium Apartment                 2001
170778     10 TO 12            93.0            Model A                 2020
170785     10 TO 12            93.0            Model A                 2020

           remaining_lease  resale_price
224               57 years      470000.0
243               57 years      470000.0
304     61 years 02 months      470000.0
305     61 years 02 months      470000.0
505     80 years 09 months      470000.0
...                    ...           ...
167582  62 years 08 months      650000.0
169624  75 years 11 months      790000.0
169625  75 years 11 months      790000.0
170778  94 years 11 months      780000.0
170785  94 years 11 months      780000.0

[564 rows x 11 columns]

Seems like there is 564 Duplicate Data

In [12]:
# Remove all duplicates and keep only unique rows
data_cleaned = data.drop_duplicates(keep='first')  # Keep the first occurrence of each duplicate

# Display the cleaned data
print("\nCleaned Data (No Duplicates):")
print(data_cleaned)

Cleaned Data (No Duplicates):
          month        town flat_type block        street_name storey_range  \
0       2017-01  ANG MO KIO    2 ROOM   406  ANG MO KIO AVE 10     10 TO 12
1       2017-01  ANG MO KIO    3 ROOM   108   ANG MO KIO AVE 4     01 TO 03
2       2017-01  ANG MO KIO    3 ROOM   602   ANG MO KIO AVE 5     01 TO 03
3       2017-01  ANG MO KIO    3 ROOM   465  ANG MO KIO AVE 10     04 TO 06
4       2017-01  ANG MO KIO    3 ROOM   601   ANG MO KIO AVE 5     01 TO 03
...         ...         ...       ...   ...                ...          ...
171388  2025-01      YISHUN    3 ROOM   210       YISHUN ST 21     04 TO 06
171389  2025-01      YISHUN    3 ROOM  468A       YISHUN ST 43     04 TO 06
171390  2025-01      YISHUN    4 ROOM   350      YISHUN AVE 11     04 TO 06
171391  2025-01      YISHUN    4 ROOM  430B      YISHUN AVE 11     07 TO 09
171392  2025-01      YISHUN    4 ROOM   139     YISHUN RING RD     01 TO 03

        floor_area_sqm      flat_model  lease_commence_date  \
0                 44.0        Improved                 1979
1                 67.0  New Generation                 1978
2                 67.0  New Generation                 1980
3                 68.0  New Generation                 1980
4                 67.0  New Generation                 1980
...                ...             ...                  ...
171388            67.0  New Generation                 1985
171389            67.0         Model A                 2019
171390           104.0         Model A                 1988
171391            92.0         Model A                 2015
171392            93.0  New Generation                 1984

           remaining_lease  resale_price
0       61 years 04 months      232000.0
1       60 years 07 months      250000.0
2       62 years 05 months      262000.0
3        62 years 01 month      265000.0
4       62 years 05 months      265000.0
...                    ...           ...
171388  59 years 10 months      423000.0
171389            94 years      460000.0
171390  62 years 09 months      558888.0
171391   90 years 01 month      590000.0
171392  58 years 10 months      525000.0

[171111 rows x 11 columns]

In [24]:
# Display the cleaned dataset info
print(data_cleaned.info())

# Display the first few rows of the cleaned data
print(data_cleaned.head())

<class 'pandas.core.frame.DataFrame'>
Index: 171111 entries, 0 to 171392
Data columns (total 11 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   month                171111 non-null  object
 1   town                 171111 non-null  object
 2   flat_type            171111 non-null  object
 3   block                171111 non-null  object
 4   street_name          171111 non-null  object
 5   storey_range         171111 non-null  object
 6   floor_area_sqm       171111 non-null  float64
 7   flat_model           171111 non-null  object
 8   lease_commence_date  171111 non-null  int64
 9   remaining_lease      171111 non-null  object
 10  resale_price         171111 non-null  float64
dtypes: float64(2), int64(1), object(8)
memory usage: 15.7+ MB
None
     month        town flat_type block        street_name storey_range  \
0  2017-01  ANG MO KIO    2 ROOM   406  ANG MO KIO AVE 10     10 TO 12
1  2017-01  ANG MO KIO    3 ROOM   108   ANG MO KIO AVE 4     01 TO 03
2  2017-01  ANG MO KIO    3 ROOM   602   ANG MO KIO AVE 5     01 TO 03
3  2017-01  ANG MO KIO    3 ROOM   465  ANG MO KIO AVE 10     04 TO 06
4  2017-01  ANG MO KIO    3 ROOM   601   ANG MO KIO AVE 5     01 TO 03

   floor_area_sqm      flat_model  lease_commence_date     remaining_lease  \
0            44.0        Improved                 1979  61 years 04 months
1            67.0  New Generation                 1978  60 years 07 months
2            67.0  New Generation                 1980  62 years 05 months
3            68.0  New Generation                 1980   62 years 01 month
4            67.0  New Generation                 1980  62 years 05 months

   resale_price
0      232000.0
1      250000.0
2      262000.0
3      265000.0
4      265000.0

In [13]:
data = data_cleaned.applymap(lambda x: x.strip() if isinstance(x, str) else x)

C:\Users\scryo\AppData\Local\Temp\ipykernel_2516\2857105399.py:1: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  data = data_cleaned.applymap(lambda x: x.strip() if isinstance(x, str) else x)

In [14]:
data.rename(columns={
    'month': 'Month',
    'town': 'Town',
    'flat_type': 'Flat_Type',
    'block': 'Block',
    'street_name': 'Street_Name',
    'storey_range': 'Storey_Range',
    'floor_area_sqm': 'Floor_Area_SQM',
    'flat_model': 'Flat_Model',
    'lease_commence_date': 'Lease_Commence_Date',
    'remaining_lease': 'Remaining_Lease',
    'resale_price': 'Resale_Price',

}, inplace=True)

In [15]:
data['Month'] = pd.to_datetime(data['Month'], format='%Y-%m')
data['Floor_Area_SQM'] = data['Floor_Area_SQM'].astype(float)
data['Flat_Type'] = data['Flat_Type'].str.title()

In [16]:
def extract_years(lease):
    if isinstance(lease, str) and 'year' in lease:
        return int(lease.split(' ')[0])  # Extract the years
    return None

data['Remaining_Years'] = data['Remaining_Lease'].apply(extract_years)

In [40]:
def average_storey_range(storey):
    if isinstance(storey, str) and "TO" in storey:
        start, end = map(int, storey.split(" TO "))
        return (start + end) / 2
    return None

data['Average_Storey'] = data['Storey_Range'].apply(average_storey_range)

In [17]:
print(data.head())

       Month        Town Flat_Type Block        Street_Name Storey_Range  \
0 2017-01-01  ANG MO KIO    2 Room   406  ANG MO KIO AVE 10     10 TO 12
1 2017-01-01  ANG MO KIO    3 Room   108   ANG MO KIO AVE 4     01 TO 03
2 2017-01-01  ANG MO KIO    3 Room   602   ANG MO KIO AVE 5     01 TO 03
3 2017-01-01  ANG MO KIO    3 Room   465  ANG MO KIO AVE 10     04 TO 06
4 2017-01-01  ANG MO KIO    3 Room   601   ANG MO KIO AVE 5     01 TO 03

   Floor_Area_SQM      Flat_Model  Lease_Commence_Date     Remaining_Lease  \
0            44.0        Improved                 1979  61 years 04 months
1            67.0  New Generation                 1978  60 years 07 months
2            67.0  New Generation                 1980  62 years 05 months
3            68.0  New Generation                 1980   62 years 01 month
4            67.0  New Generation                 1980  62 years 05 months

   Resale_Price  Remaining_Years
0      232000.0               61
1      250000.0               60
2      262000.0               62
3      265000.0               62
4      265000.0               62

In [43]:
data.to_csv('cleaned_resale_data.csv', index=False)